/* iOS에서만 background-attachment 제거 */
@supports (-webkit-touch-callout: none) {
    #hero {
        background-attachment: scroll !important;
    }

    #prime {
        background-attachment: scroll !important;
    }
}

@media(max-width:275px){

.hero-title-wrapper h1{
    font-weight: 500;
    margin-bottom: 6px;
}
.hero-title-wrapper h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.hero-title-wrapper h3{
    font-size: 2rem;
    font-weight: 400;
}
.hero-content-text {
    font-size: 1.8rem;
    font-weight: 400;
}

}

@media (max-width:630px){
    * {
        font-size:10px;
    }

   .cta-button {
        font-size: 2rem;
    }


    .hero {
        margin: auto;
    }

    .hero-title-wrapper h2{
        font-size: 2.2rem;
    }
    .hero-title-wrapper h3{
        font-size: 2rem;
        word-break: keep-all;
        text-align: center;
    }


    .benefits-cards-wrapper {
        width:100%;
        flex-direction: column;
    }

    .benefit-card {
        width: 80vw;
    }

    /* info section */

    .info-img {
        width:64vw;
    }
    

    .info-contents {
        flex-direction: column;
    }
    .info-contents-text{
        width:80vw;
        text-align: center;
        word-break: keep-all;
    }

    .gallery-photos-wrapper {
        flex-direction: column;
    }

    /* gallery section */
    .gallery {
        max-width: 24rem;
        text-align: center;
        word-break: keep-all;
    }
    .gallery-photos-wrapper img {
        width: 80vw;
        height: calc(80vw*0.6);
    }
    .gallery p {
        width: 80vw;
    }


    /*cta section*/
    .cta {
        flex-direction: column;
    }

    .cta-text-wrapper {
        width: 24rem;
        word-break: keep-all;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .cta-text-wrapper h2 {
        font-size: 1.8rem;
    }

    .cta-text-wrapper p {
        width: 80vw;    
        font-size: 1.6rem;
    }
    .cta-text-wrapper strong {
        font-size: 1.6rem;
    }



    /*prime section*/
    .prime {
        padding: 3rem;
        margin: auto;
    }
    .prime-cards-wrapper {
        word-break: keep-all;
        text-align: center;
    }

    .prime-text-wrapper {

        word-break: keep-all;
        text-align: center;

    }

    .prime-card p {
        margin-bottom: 1rem;
    }
    .prime-text {
        word-break: keep-all;
        text-align: center;
    }

    .footer-content-wrapper {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-content {
        width: 86%;
      }





}