/* iOS에서만 background-attachment 제거 */
@supports (-webkit-touch-callout: none) {
    #info-sec {
        background-attachment: scroll !important;
    }
}

@media(max-width:275px){

.hero-title-wrapper h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 6px;
}
.hero-title-wrapper h3{
    font-size: 2.2rem;
    font-weight: 400;
}
.hero-content-text {
    font-size: 1.8rem;
    font-weight: 400;
}

}
@media (max-width:630px){
    * {
        font-size:6px;
    }



    .benefits-cards-wrapper {
        width:100%;
        flex-direction: column;
    }

    .benefit-card {
        width: 80%;
    }





}