@media (max-width:980px){
    * {
        font-size:10px;
    }

    .prime-cards-wrapper {
        flex-direction: column;
    }

    .prime-card {
        height: auto;
    }

    .footer-content {
        flex-direction: column;
    }

}